* {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-container {
  display: inline-block;
  position: relative;
}

.forest-bg {
  display: block;
  object-fit: cover;
  width: 1250px;
}

.ingredients-modal {
  position: absolute;
  top: 70px;
  margin-left: 23em;
  width: 500px;
  /* padding: 10px; */
  border-radius: 100px;
  background: #c3854e;
  padding: 20px;
  height: 650px;
}

.le-button {}

.ing-icons {
  margin-top: 5px;
  width: 70px;
  height: 70px;
}

.ing-txt {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 7px;
}

.individual-flour {
  position: absolute;
  margin-top: 50px;
  margin-left: 40px;
  width: 360px;
  /* padding: 10px; */
  border-radius: 100px;
  background: #ffdf9b;
  padding: 20px;
  height: 70px;
}

.individual-sugar {
  position: absolute;
  margin-top: 200px;
  margin-left: 40px;
  width: 360px;
  /* padding: 10px; */
  border-radius: 100px;
  background: #ffdf9b;
  padding: 20px;
  height: 70px;
}

.individual-milk {
  position: absolute;
  margin-top: 350px;
  margin-left: 40px;
  width: 360px;
  border-radius: 100px;
  background: #ffdf9b;
  padding: 20px;
  height: 70px;
}

.individual-submit {
  position: absolute;
  margin-top: 500px;
  margin-left: 40px;
  width: 360px;
  border-radius: 100px;
  background: #ffb79b;
  padding: 20px;
  height: 70px;
}

.cafe-bg {
  display: block;
  object-fit: cover;
}

.ingredients-run-button {
  position: absolute;
  top: 280px;
  right: 540px;
  width: 120px;
  padding: 10px;
}

.display-cabinet-button {
  position: absolute;
  top: 450px;
  right: 30px;
  width: 120px;
  padding: 10px;
}

.kitchen-button {
  position: absolute;
  top: 450px;
  left: 20px;
  width: 120px;
  padding: 10px;
}

.kitchen-oven-button {
  position: absolute;
  top: 400px;
  left: 240px;
  width: 120px;
  padding: 10px;
}

.oven-button {
  position: absolute;
  top: 450px;
  left: 20px;
  width: 120px;
  padding: 10px;
}

.leave-walk-button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 120px;
  padding: 10px;
}

.complete-walk-button {
  position: absolute;
  top: 280px;
  left: 500px;
  width: 120px;
  padding: 10px;
}
