* {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-container {
  display: inline-block;
  position: relative;
}

.cafe-bg {
  display: block;
  object-fit: cover;
}

.ingredients-run-button {
  position: absolute;
  top: 280px;
  right: 540px;
  width: 120px;
  padding: 10px;
}

.display-cabinet-button {
  position: absolute;
  top: 450px;
  right: 30px;
  width: 120px;
  padding: 10px;
}

.kitchen-button {
  position: absolute;
  top: 450px;
  left: 20px;
  width: 120px;
  padding: 10px;
}

.kitchen-oven-button {
  position: absolute;
  top: 450px;
  left: 500px;
  width: 120px;
  padding: 10px;
}

.oven-button {
  position: absolute;
  top: 450px;
  left: 20px;
  width: 120px;
  padding: 10px;
}

.leave-walk-button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 120px;
  padding: 10px;
}

.complete-walk-button {
  position: absolute;
  top: 280px;
  left: 500px;
  width: 120px;
  padding: 10px;
}
